% Additional library directories to add to the code path.
{lib_dirs, ["deps"]}.

% Erlang compiler options.
{erl_opts, [debug_info, {src_dirs, ["src", "test"]}]}.

{deps, [
    % For testing etest_http itself.
    {etest, ".*", {git, "git://github.com/wooga/etest.git", "HEAD"}},
    % For JSON encoding, decoding and subsequently comparison.
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "HEAD"}},
    % For mocking httpc.
    {meck, ".*", {git, "git://github.com/eproxus/meck.git", "HEAD"}}
]}.

{clean_files, ["ebin/*.beam", ".eunit/*"]}.
{xref_checks, [exports_not_used, undefined_function_calls]}.
