% Additional library directories to add to the code path.
{lib_dirs, ["deps"]}.

% Erlang compiler options.
{erl_opts, [debug_info, {src_dirs, ["src", "test"]}]}.

{deps, [
    % For testing etest_http itself.
    etest,
    % For JSON encoding, decoding and subsequently comparison.
    jiffy
]}.

{clean_files, ["ebin/*.beam"]}.
{xref_checks, [exports_not_used, undefined_function_calls]}.
