% Additional library directories to add to the code path.
{lib_dirs, ["deps"]}.

% Erlang compiler options.
{erl_opts, [
    % Include debug information in the form of abstract code in the compiled
    % beam module. Tools such as Debugger, Xref and Cover require the debug
    % information to be included.
    debug_info
]}.

% What dependancies we have, depandencies can be of 3 forms, an application
% name as an atom, eg. mochiweb, a name and a version (from the .app file), or
% an application name, a version and the SCM details on how to fetch it (SCM
% type, location and revision). Rebar currently support git, hg, bzr and svn.
{deps, [
    {lhttpc, "1.2.6", {git, "git://github.com/esl/lhttpc.git", "master"}}
]}.

% Which files to cleanup.
{clean_files, ["ebin/*.beam"]}.

% XRef checks to run.
{xref_checks, [exports_not_used, undefined_function_calls]}.

% Override the default "test" directory in which SUITEs are located
{ct_dir, "suites"}.
